{% extends 'base.j2' %}

{% block content %}
	<div id='nav'>
		<form>
			<select id='select-image' name='i'>
				{% for i, fname in filenames %}
					<option value='{{ i }}' {{ 'selected' if fname == filename }}>{{ fname }}</option>
				{% endfor %}
			</select>
			<button id="go-to-image" type='submit'>View Image</button>
		</form>

		<form action="{{ url_for('export', filename=filename) }}" >
			<button type='submit'>Export</button>
		</form>
	</div>

	<img src="{{ url_for('image', filename=filename) }}" class='phimages' alt='' />
	<div id="ndvi-label">
		<div>
			Location:
			<span class="lat"></span>,
			<span class="lon"></span>
		</div>
		<div>
			Health: 
			<span class="health"></span>
			(<span class="ndvi"></span>)
		</div>
	</div>

	<script>
		var coords = {{ coords|tojson }};
		var ndvi = {{ ndvi|tojson }};
		var ndvishp = {{ ndvishp|tojson }};
		console.log(coords);
	</script>
{% endblock %}